*~
.*sw?
\#*
.DS_Store
CMakeFiles
CMakeScripts
*.rej
*.orig

*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb
generated_src
/doxygen_docs
/doxygen.tag
/build*
/qtools_docs
/warnings.log
Debug
tags
DEBUG
.idea
